@media screen and (min-width: 600px) {
    .navigation {
        flex-direction: row;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    #burger {
        display: none;
    }
}