@media screen and (max-width: 975px) {
    main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }

    #visual-hierarchy {
        grid-column: 1/2;
    }
    
    #hicks-law {
        grid-column: 2/3;
    }
    
    #white-space {
        grid-column: 1/2;
    }
}