@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

@font-face {
  font-family: "Magic-Cards-Normal";
  src: url(magic-cards-normal.ttf);
}

header,
footer {
  background-color: #7b2210;
  color: #feeed4;
  grid-column: 1/6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Magic-Cards-Normal", Times, serif;
  padding: 5px 0;
  margin-top: 0px;
  margin-bottom: 0px;
}

body {
  font-family: "Nanum Gothic", Century, sans-serif;
  background-color: #feeed4;
}

header section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header img {
  max-width: 225px;
}

h1 {
  width: 100%;
  text-align: center;
}

/* The switch - the box around the slider */
.switch {
  position: absolute;
  top: 1rem;
  right: 2rem;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 2px solid black;
}

.toggle:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #feeed4;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .toggle {
  background-color: #7b2210;
}

input:focus + .toggle {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .toggle:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.toggle.orb {
  border-radius: 34px;
}

.toggle.orb:before {
  border-radius: 50%;
}

nav {
  grid-row: 2/3;
  grid-column: 1/6;
}

.navigation {
  display: flex;
  flex-direction: column;
}

.navigation li a {
  display: block;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: black;
}

.navigation li {
  list-style-type: none;
  display: none;
}

#menu {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  background-color: #feeed4;
  color: #000;
}

#menu::before {
  content: "≡";
}

#menu.show::before {
  content: "X";
}

.show li {
  display: block;
}

.banner {
  position: relative;
  text-align: center;
  background-color: #7b2210;
  color: #feeed4;
  border: 1px solid black;
  padding: 1rem;
}

.banner button {
  position: absolute;
  top: 5px;
  left: 5px;
  background: #feeed4;
}

.hero {
  width: 100%;
  margin: 10px auto;
  position: relative;
}

.hero img {
  width: 100%;
  height: auto;
}

#herolabel {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.5rem;
  background: #7b2210;
  color: #feeed4;
  margin-block-start: 0em;
}

#herolabel::before {
  content: "Small ";
}

main {
  margin: 15px;
}

.hero {
  width: 100%;
}

.card {
  border: 1px solid black;
  text-align: center;
  margin: 10px 0 0;
}

.hero button {
  position: absolute;
  width: 30%;
  height: 50px;
  top: 0px;
  right: 0px;
  background: white;
  margin-block-start: 0em;
  padding: 0;
}

section a {
  color: #7b2210;
  font-size: 1.25em;
  text-decoration: none;
}

footer {
  padding-top: 10px;
  text-align: center;
}

footer p {
  margin: 0 ;
}

#lastModified {
  margin: 0;
  padding: 10px;
}