@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

@font-face {
    font-family: "Magic-Cards-Normal";
    src: url(magic-cards-normal.ttf);
}

header, footer {
    background-color: #7b2210;
    color: #feeed4;
    grid-column: 1/6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Magic-Cards-Normal", Times, serif;
    padding-left: 20px;
    padding-top: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

body {
    font-family: "Nanum Gothic", Century, sans-serif;
    background-color: #feeed4;
    display: grid;
    grid-template: auto auto 1fr 1fr auto / repeat(5, 1fr);
}

header {
  display: flex;
  align-items:center;
  grid-row: 1/2;
}

header img {
  width: 50%;
}

/* The switch - the box around the slider */
.switch {
  position: absolute;
  top: 1rem;
  right: 2rem;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
  border: 2px solid black;
}

.toggle:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #feeed4;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .toggle {
  background-color: #7b2210;
}

input:focus + .toggle {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .toggle:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.toggle.orb {
  border-radius: 34px;
}

.toggle.orb:before {
  border-radius: 50%;
}

nav {
  grid-row: 2/3;
  grid-column: 1/6;
}

.navigation {
    display: flex;
    flex-direction: column;
  }

  .navigation li a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: black;
  }

  .navigation li {
    list-style-type: none;
    display: none;
  }

  #menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: #feeed4;
    color: #000;
  }

  #menu::before {
    content: "≡";
  }

  #menu.show::before {
    content: "X";
  }

  .show li {
    display: block;
  }

  main {
    grid-row: 3/5;
    grid-column: 1/6;
    display: grid;
    grid-template: auto / 1fr 1fr 1fr;
    gap: 5px;
    margin: 15px;
  }

  #hero {
    grid-row: 1/2;
    grid-column: 1/4;
    width: 100%;
  }

  .card {
    grid-column: 1/4;
    border: 1px solid black;
    text-align: center;
  }

  main button {
    width: 100%;
    height: 50px;
    background: white;
  }

  footer {
    padding-top: 20px;
    text-align: center;
    grid-row: 5/6;
  }