@media screen and (min-width: 900px) 
{
    nav {
        border: 1px solid black;
    }

    .navigation {
        flex-direction: row;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    #menu {
        display: none;
    }
  
    #herolabel::before {
        content: "Medium ";
      }

    main {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto 1fr;
        gap: 0 5px;
    }

    .banner {
        grid-column: 1/3;
        /* display: none; */
    }

    .hero {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    #spotlights {
        grid-column: 1/3;
        grid-row: 4/5;
    }

    #weather {
        grid-column: 2/3;
    }

    #current-events {
        grid-row: 3/4;
    }
}