@media screen and (min-width: 640px) 
{
    .navigation {
        flex-direction: row;
        padding-right: 40px;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    #menu {
        display: none;
    }
}