@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://unpkg.com/css-aspect-ratio@1/css-aspect-ratio.css");

body {
    font-family: "Poppins", Helvetica, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  header section {
    display: flex;
    flex-direction: row;
    background: olivedrab;
    justify-content: center;
    align-items: center;
  }
  
  header section img {
    display: block;
    margin: 1rem;
  }

  h1 {
    text-align: center;
    width: 100%;
    font-size: 1.5em;
  }

  nav {
    font-size: 24px;
    text-align: center;
  }

  .navigation {
    display: flex;
    flex-direction: column;
  }

  .navigation li a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: black;
    background: wheat;
  }

  .navigation li {
    list-style-type: none;
    display: none;
  }

  .navigation li:hover {
    background-color: olivedrab;
    font-weight: 700;
  }

  #menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: #eee;
    color: #000;
  }

  #menu::before {
    content: "≡";
  }

  #menu.show::before {
    content: "X";
  }

  .show li {
    display: block;
  }

  main {
    background: white;
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .hero {
    width: 100%;
    margin: 10px auto;
    position: relative;
  }

  .hero img {
    width: 100%;
    height: auto;
  }

  .hero h2 {
    color: white;
    position: absolute;
    top: 20px;
	  right: 20px;
	  border: 1px solid rgba(0,0,0,.75);
	  padding: 1.5rem;
	  box-shadow: 0 0 3rem #fff;
	  opacity: 0.75;
  }

  main section {
    margin: 2px;
    border: 2px solid black;
    border-radius:5px;
  }

  .card {
    text-align: left;
  }

  .card p {
    text-align: center;
    background: white;
  }

  h2 {
    text-decoration: underline;
    text-align: center;
  }

  .card h3 {
    background: olivedrab;
    text-align: center;
    margin: 0;
    border-radius: 3px 3px 0 0;
  }

  iframe {
    height: 450px;
    width: 100%;
    display: block;
    border: 0;
  }

  footer {
    background: wheat;
    padding: 2rem 0;
    text-align: center;
    width: 100%;
  }